.sku_group_title {
  position: relative;
  padding: 7px 10px;
  background-color: #f5f7fa;
  display: flex;
  align-items: center;
  height: 46px;
  font-size: 13px;
}
.sku_group_container {
  display: flex;
  flex-wrap: wrap;
  padding:7px 10px;
  font-size: 13px;
  min-height: 46px;
.sku_values_item{
  box-sizing: border-box;
  position: relative;
  .sku_values_item_del_btn{
    line-height: 1;
     position: absolute;
     top: -7px;
     right: -7px;
     display: none;
  }
  
}
.sku_values_item:hover{
  .sku_values_item_del_btn{
    display: block;
  }
}
}