.sku_group_title {
  position: relative;
  padding: 7px 10px;
  background-color: #f5f7fa;
  display: flex;
  align-items: center;
  height: 46px;
  font-size: 13px;
}

.sku_group_container {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 12px;
}
