html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;

  .ant-form-extra {
    font-size: 12px;
  }
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}


.add-image-view {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.media-dialog {
  .ant-modal-header {
    padding: 10px;
  }

  .ant-card-actions {
    li {
      margin: 5px 0;

      span {
        line-height: 1;
      }

      .anticon {
        line-height: 1;
      }
    }
  }
}


/******/
.font-12 {
  font-size: 12px;
}

.ml-10 {
  margin-left: 10px;
}

.f-c-c{
  display: flex;
  align-items: center;
  justify-content: center;
}
